.img-above {
  position: absolute;
  width: 700px;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
}

.text-pangolin {
  font-family: 'Pangolin', cursive;
}
.text-magenta {
  color: #92294c;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}
.bg-magenta {
  background: #92294c;
}
.h-2 {
  height: 1px;
}